/* You can add global styles to this file, and also import other style files */
@import '~todomvc-common/base.css';
@import '~todomvc-app-css/index.css';

ul.nav {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

li[routerlink] {
  cursor: pointer;
  text-decoration: underline;
}
